#face{
  height: 150px;
  margin-top: 20px;
  border-radius: 40%;
  background-color: #406882;
}

.fixed-bar{
    background-color: #B1D0E0;
    text-align: right;
    position: static;
    margin: 0;
}

.top-container{
  background-color: #B1D0E0;
  padding: 50px;
  text-align: center;
}

.middle-container{
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.picture-container{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.contact-me{
  text-align: center;
}

.bottom-container{
  text-align: center;
  background-color: #B1D0E0;
  margin: 0;
  height: 150px;
}

.footer-link{
  margin: 50px;
  position: relative;
  top: 20px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  border-width: medium;
  border-style: solid;
  border-color: black;
  background-color: #406882;
  border-radius: 20%;
}

.copywrite{
  position: relative;
  top: 80px;
  color: white;
}

.contact-me{
  margin: 0 0 20px 0;
}

.top-cloud{
  width: 250px;
  position: relative;
  left: 200px;
  top: 40px;
}

.bottom-cloud{
  width: 250px;
  position: absolute;
}

.mountain{
  width: 800px;
}

body{
  margin: 0;
  list-style-position: inside;
}

.my-name{
  margin: 0;
  color: white;
  font-size: 3.75rem;
  font-family: 'Courgette', cursive;
}

.make{
  color: white;
  position: relative;
  left: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 3.75;
  margin: 0;
}

.profile{
  margin-top: 0;
}

.skills{
  text-align: center;
}

.skill-row{
  text-align: left;
  width: 70%;
  margin: 0 auto 100px;
}

.skill-row2{
  text-align: right;
  width: 70%;
  margin: 0 auto 100px;
}

.lathe{
  float: left;
  width: 150px;
  margin-right: 30px;
  border-radius: 40%;
    margin-top: -30px;
  background-color: #406882;
}

.programming{
  float: right;
  width: 150px;
  margin-left: 30px;
  margin-top: -30px;
  border-radius: 40%;
  background-color: #406882;

}

h1{
  font-family: 'Merriweather', serif;
  color: #406882;
}

h2{
  font-family: 'Merriweather', serif;
  color: #406882;
}

h3{
  font-family: 'Merriweather', serif;
  color: #406882;
}

p{
  font-family: 'Ubuntu', sans-serif;
}

ul{
  margin-top: 30px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  border-color: #616161;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 100px;
}

.bottom-list{
  direction: rtl;
  text-align: right;
}

.picture{
  width: 450px;
  border-radius: 20%;

}

.contact{
  width: 100px;
}
